body {
    background-color: #F5F5F5;
}

#header {
    background-image: url("https://i.imgur.com/IB245B0.jpg");
    opacity: .7;
    position: fixed;
    margin-left: -200px;
    margin-top: -595px;
    width: 2000px;
    height: 900px;
    z-index: 100;
}

#square {
    background-color: white;
    width: 300px;
    height: 200px;
    opacity: .75;
    position: absolute;
    top: 40%;
    left: 50%;
    margin: -70px 0 0 -170px;
    text-align: center;
    z-index: 100;
    border: 1px dashed #494949;
}

#square:hover {
    background-color: white;
    width: 300px;
    height: 215px;
    opacity: .80;
    position: absolute;
    top: 40%;
    left: 50%;
    margin: -70px 0 0 -170px;
    transition: all .2s ease-in-out;
    z-index: 100;
}

#inner {
    background-color: transparent;
    border: 1px dashed #2E2E2E;
    width: 250px;
    height: 150px;
    opacity: .7;
    position: absolute;
    top: 45%;
    left: 65%;
    margin: -70px 0 0 -170px;
    text-align: center;
    font-variant: small-caps;
    font-family: Courier New, Courier, monospace;
    letter-spacing: 2px;
    font-weight: lighter;
    z-index: 100;
}

#leftNav {
    position: absolute;
    left: 13%;
    top: 44%;
    z-index: 100;
}

#rightNav {
    position: absolute;
    right: 16%;
    top: 44%;
    z-index: 100;
}

nav a {
    color: black;
    text-decoration: none;
    font-family: garamond;
    border: 1px dashed #717171;
    opacity: .8;
    background-color: white;
    float: none;
    width: 100px;
    padding: 10px;
    margin: 15px;
    text-align: center;
    display: inline-block;
    z-index: 100;

}

nav a:hover {
    color: #E791A0;
    text-decoration: none;
    font-family: garamond;
    opacity: .9;
    background-color: white;
    float: none;
    width: 100px;
    padding: 10px;
    margin: 15px;
    text-align: center;
    display: inline-block;
    transition: all .5s ease-in-out;
    z-index: 100;

}

#main {
    width: 525px;
    opacity: .85;
    border: 1px dashed #484848;
    font-family: century gothic;
    font-size: 13px;
    background-color: white;
    z-index: 100;
    position: absolute;
    top: 75%;
    left: 40%;
    margin: -70px 0 0 -170px;
    margin-bottom: 50px;
    padding: 15px;

}

#main2 {
    width: 525px;
    opacity: .85;
    border: 1px dashed #484848;
    font-family: century gothic;
    font-size: 13px;
    background-color: white;
    z-index: 100;
    position: absolute;
    top: 100%;
    left: 40%;
    margin: -70px 0 0 -170px;
    margin-bottom: 50px;
    padding: 15px;

}

#main3 {
    width: 525px;
    opacity: .85;
    border: 1px dashed #484848;
    font-family: century gothic;
    font-size: 13px;
    background-color: white;
    z-index: 100;
    position: absolute;
    top: 125%;
    left: 40%;
    margin: -70px 0 0 -170px;
    margin-bottom: 50px;
    padding: 15px;

}

h2 {
    font-family: Courier New, Courier, monospace;
    color: #EA8E9E;
    letter-spacing: 5px;
}

img {
    width: 200px;
    height: auto;
    border: 1px dashed #2E2E2E;
    margin: 5px;
}

h4 {
    font-family: garamond;
    font-size: 14px;
    font-weight: lighter;
    color: #717171;
    font-variant: none;
}


#linkedin {
    height: 25px;
    width: 25px;
    background-color: #A2C3AF;
    border: none;
    position: fixed;
    margin-left: 0px;
    bottom: 5px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

#linkedin a {
    color: white;
    text-decoration: none;
}

#linkedin:hover {
    background-color: #C3DECE;
}

#img {
    width: 100px;
    height: 100px;
    background-color: gray;
    float: left;
    margin: 5px;
}

a {
    text-decoration: none;
    color: #92B6A0;
}

a:visited {
    text-decoration: none;
    color: #92B6A0;
}