body {
    background-image: url("8670525261_f7115fde13_o.jpg");
    background-size: cover;
    top: -500px;
    background-color: #cccccc;
}

.source {
    color: white;
    text-decoration: none;
    font-style: italic;
}

body a:hover {
    color: #C8FF00;
}

span.dropdown {
    display: none;
}

span.account {
    float: right;
    margin: 23px 10px 23px 50px;
    color: white;
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 2px;
    -webkit-transition: color 1.5s;
    transition: color 1.5s;
}

span.account span:hover{
    color: #000000;
    -webkit-transition: color .5s;
    transition: color .5s;
}

span.account a {
    background-color: rgba(255, 255, 255, 0);
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 8px;
    border-radius: 4px;
    padding: 5px 10px 5px 10px;
    box-shadow: 2px 2px 10px rgba(36, 36, 38, 0.59);
    -webkit-transition: background-color 1.5s;
    transition: background-color 1.5s;
}

span.account a:hover {
    background-color: rgba(0, 0, 0, 0.13);
}

#input {
    margin-left: 58%;
    margin-top: 3%;
}

input {
    opacity: .95;
    width: 45%;
    height: 40px;
    border-style: none;
    border-radius: 4px;
    padding: 5px;
    letter-spacing: 2px;
    color: white;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 2px 2px 10px rgba(36, 36, 38, 0.59);
}

input::placeholder {
    color: white;
    letter-spacing: 2px;
    font-family: 'Source Sans Pro', sans-serif;
}

span.search {
    color: white;
    font-size: 27px;
    margin-right: 5px;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.58);
}

#logo {
    color: white;
    margin: 1%;
    margin-top: 0;
    padding-top: 0.7%;
    font-family: 'Capriola', sans-serif;
    display: inline-table;
    font-size: 38px;
}

#nav {
    margin-top: -1%;
    margin-left: -1%;
    position: relative;
    width: 101.5%;
    height: 65px;
    background-color: rgba(0, 0, 0, 0.08);
    box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.3);
}

h1{
    color: white;
    font-family:'Dosis', sans-serif;
    font-weight: 100;
    letter-spacing: 10px;
    font-size: 45px;
    line-height: 80%;
    -webkit-transition: letter-spacing 1s;
    transition: letter-spacing 1s;
}

h1:hover {
    letter-spacing: 20px;
}

#tagline {
    margin-top: 5%;
    margin-left: 58%;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.23);
}

#intro {
    margin-left: 58%;
    margin-right: 2%;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.38);
}

p{
    color: white;
    font-size: 15px;
    font-weight: 100;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 105%;
    letter-spacing: 1px;
}

@media screen and (max-width: 980px) {
    #logo {
        font-size: 40px;
        padding-top: 1%;
        max-height: 100%;
    }

    span.account {
        display: none;
    }

    span.dropdown {
        float: right;
        margin: 13px 10px 23px 50px;
        color: white;
        font-weight: 800;
        display: inline;
        font-size: 270%;
    }

    h1 {
        font-size: 100px;
        letter-spacing: 15px;
        font-weight: 100;
    }

    #tagline {
        margin-left: 5%;
        animation: 1.5s ease-out 0s 1 slideInFromLeft;
    }

    @keyframes slideInFromLeft {
        0% {
          opacity: 0;
          transform: translateX(-100%);
        }
        100% {
          opacity: .7;
          transform: translateX(0);
        }
      }

    #intro {
        margin-left: 5%;
    }

    p {
        line-height: 90%;
    }

    #input {
        margin-left: 5%;
        width: 150%;
        height: 80px;
        font-size: 50px;
        margin-bottom: 0px;
    }

    input {
        height: 95px;
        font-size: 50px;
    }

    span.search {
    font-size: 50px;
    }
}