<body>
<div id="productName">
<h2>{{controller.orchid.name}}</h2>
</div>
<div id="imageFrame">
    <img class="detailsImage" ng-src="{{controller.orchid.imgUrl}}">
</div>
<div id="orchidDetails">
<strong>Product ID:</strong> {{controller.orchid.orchidId}}
<br>
<strong>Name:</strong> {{controller.orchid.name}}
<br>
<strong>Price:</strong> $ {{controller.orchid.price}}
<br>
<strong>Quantity:</strong> {{controller.orchid.quantity}}
</div>
<div id="orchidDescription">
    {{controller.orchid.description}}
</div>
<button ui-sref="shopOrchids">Return</button>

</body>