<body>
    <div id="main">
        <h2>Shop Orchids</h2>
        <p>
            <input ng-model="input" type="text" name="search" placeholder="Search Orchids" id="search">
        </p>

        <ul>
            <li ng-repeat="orchid in controller.orchids | filter : input">
                <a href="#" class="productItem" ng-click="controller.getOrchid(orchid.orchidId) ">
        <img class="productImg" ng-src="{{orchid.imgUrl}}">
        <p><h4>{{orchid.name}}</h4></p>
        <p>$ {{orchid.price}}</p>
                </a>
            </li>
        </ul>

    </div>
</body>